DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nookmarks"

BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="generate-secret-yourself"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
